{%extends "sign_in_up_pattern.html"%}
{%block content%}
<style>
    .btns input{
        display: none;
    }
</style>
<div class="container">
    <h2>Password reset</h2>
    <form action="" method="post">
        <p><label for="email">Email</label></p>
        <p><input type="email" name="email" id="email" class="form-control" value={{EMAIL}} disabled></p><br>
        <p><label for="code">Code</label></p>
        <p><input type="text" name="code" id="code" class="form-control" style="max-width: 20vw;"></p><br>
        <div class="btns">
            <input type="text" name="email_send" value="1">
            <p><label for="code">If you haven't received the code:</label></p>
            <p><button class="btn btn-dark" onclick="func1()" type="submit">Send again</button></p><br><br>
            <input type="text" name="send_data" value="1">
            <p>{{message}}</p>
            <p><button class="btn btn-primary" onclick="func2()" type="submit">Submit</button></p>
        </div>
    </form>
    <script>
        function func1(){
            document.querySelector('[name="send_data"]').value = "";
        }
        function func2(){
            document.querySelector('[name="email_send"]').value = "";
        }
    </script>
</div>
{%endblock%}
