{%extends "base.html"%}
{%block content%}
<style>
    a {
      text-decoration: none;
      color: rgb(199, 185, 185);
    }

    p {
      color: white;
    }
  </style>
<h2>Гипотеза Джеймса Джинса</h2>
<div class="container">
    <p>
        Гипотеза Джинса - гипотеза, предложенная в 1916 году
        <b><a href="https://bigenc.ru/c/dzhins-dzheims-d586cb" target="_blank">Джеймсом Джинсом</a></b>, согласно
        которой вблизи Солнца прошла звезда и ее притяжение
        вызвало выброс солнечного вещества, из которого в последующем
        образовались планеты, должна была объяснить парадокс распределения
        момента количества движения. <br /><br />
        Гипотеза Джинса Джеймса полностью противоположна гипотезе
        Канта-Лапласа. Если последняя рисует образование планетарных систем
        как единственный закономерный процесс эволюции от простого к сложному,
        то в гипотезе Джинса образование таких систем есть дело случая.
        Исходная материя, из которой потом образовались планеты, была
        выброшена из Солнца (которое к тому времени было уже достаточно
        “старым” и похожим на нынешнее) при случайном прохождении вблизи него
        некоторой звезды. Это прохождение был настолько близким, что его можно
        рассматривать практически как столкновение. Благодаря приливным силам
        со стороны налетевшей на Солнце звезды, из поверхностных слоев Солнца
        выброшена струя газа. Эта струя останется в сфере притяжения Солнца и
        после того, как звезда уйдет от Солнца. Потом струя сконденсируется и
        даст начало планетам.
      </p>

      <div class="examp">
        <img src="/static/images/James_Jeens.png" alt="" style="max-width: 95%;"/>
      </div>
      <p>
        <br /><br />Если бы гипотеза Джинса была правильной, число планетарных
        систем, образовавшихся за десять миллиардов лет ее эволюции, можно
        было пересчитать по пальцам. Но планетарных систем фактически много,
        следовательно, эта гипотеза несостоятельна. И ниоткуда не следует, что
        выброшенная из Солнца струя горячего газа может сконденсироваться в
        планеты. Таким образом, космологическая гипотеза Джинса оказалась
        несостоятельной. Солнце - плазменный шар (плотность 1,4 г/см3, с
        температурой поверхности 6 тыс. К) в атмосфере которого происходят
        вспышки — протуберанцы. солнечная активность — имеет цикл 11 лет.
        <br />
      </p>
    </div>
</div>
  {%endblock%}
