{%extends "base.html"%}
{%block content%}
<style>
  a {
    text-decoration: none;
    color: rgb(199, 185, 185);
  }

  p {
    color: white;
  }
</style>
<h2>Гипотеза Канта-Лапласа</h2>
<div class="container">
    <p>
        В 1796 году французский математик и астроном
        <b><a target="_blank" href="https://bigenc.ru/c/laplas-p-er-simon-6aaa60">Пьер-Симон Лаплас</a></b>
        выдвинул теорию. Лаплас полагал, что Солнце существовало первоначально
        в виде огромной раскаленной газообразной туманности (небулы) с
        незначительной плотностью, но зато колоссальных размеров. <br /><br />
        Эта туманность, согласно Лапласу, первоначально медленно вращалась в
        пространстве. Под влиянием сил гравитации туманность постепенно
        сжималась, причем скорость ее вращения увеличивалась. Возрастающая в
        результате центробежная сила придавала туманности уплощенную, а затем
        и линзовидную форму. В экваториальной плоскости туманности соотношение
        между притяжением и центробежной силой изменялось в пользу этой
        последней, так что в конечном счете масса вещества, скопившегося в
        экваториальной зоне туманности, отделилась от остального тела и
        образовала кольцо. От продолжавшей вращаться туманности
        последовательно отделялись все новые кольца, которые, конденсируясь в
        определенных точках, постепенно превращались в планеты и другие тела
        солнечной системы. В общей сложности от первоначальной туманности
        отделилось десять колец, распавшихся на девять планет и пояс
        астероидов - мелких небесных тел. Спутники отдельных планет сложились
        из вещества вторичных колец, оторвавшихся от раскаленной газообразной
        массы планет. Вследствие продолжавшегося уплотнения материи
        температура новообразованных тел была исключительно высокой. В то
        время и наша Земля, по П. Лапласу, представляла собой раскаленный
        газообразный шар, светившийся подобно звезде. Постепенно, однако, этот
        шар остывал, его материя переходила в жидкое состояние, а затем, по
        мере дальнейшего охлаждения, на его поверхности стала образовываться
        твердая кора. Эта кора была окутана тяжелыми атмосферными парами, из
        которых при остывании конденсировалась вода. Поскольку наука не
        располагала в то время более приемлемыми объяснениями, у этой теории
        было в XIX веке множество последователей.
        <br /><br />
      </p>

      <div class="examp">
        <img class="rounded-circle" src="/static/images/KANT-LAPLAS.png" alt="" />
      </div>
      <br />
      <p>
        Точки зрения
        <b><a target="_blank" href="https://bigenc.ru/c/kant-immanuil-4a074e">Канта</a></b>
        и Лапласа в ряде важных вопросов резко отличались. Кант исходил из
        эволюционного развития холодной пылевой туманности, в ходе которого
        сперва возникло центральное массивное тело - будущее Солнце, а потом
        планеты, в то время как Лаплас считал первоначальную туманность
        газовой и очень горячей с высокой скоростью вращения. Сжимаясь под
        действием силы всемирного тяготения, туманность, вследствие закона
        сохранения момента количества движения, вращалась все быстрее и
        быстрее. Из-за больших центробежных сил от него последовательно
        отделялись кольца. Потом они конденсировались, образуя планеты. Таким
        образом, согласно гипотезе Лапласа, планеты образовались раньше
        Солнца. Однако, несмотря на различия, общей важной особенностью
        является представление, что Солнечная система возникла в результате
        закономерного развития туманности. Эти две теории взаимно дополняли
        друг друга, поэтому и принято называть эту концепцию “гипотезой
        Канта-Лапласа”. <br /><br />
        Однако эта теория сталкивается с трудностью. Наша Солнечная система,
        состоящая из девяти планет разных размеров и масс, обладает
        особенностью: необычное распределение момента количества движения
        (момент импульса) между центральным телом - Солнцем и планетами.
        Момент импульса есть одна из важнейших характеристик всякой
        изолированной от внешнего мира механической системы. Именно как такую
        систему можно рассмотреть Солнце и окружающие его планеты. Момент
        количества движения можно определить как “запас вращения” системы. Это
        вращение складывается из орбитального движения планет и вращения
        вокруг осей Солнца и планет. Львиная доля момента количества движения
        Солнечной системы сосредоточена в орбитальном движении планет-гигантов
        Юпитера и Сатурна. С точки зрения гипотезы Лапласа, это совершенно
        непонятно. В эпоху, когда от первоначальной, быстро вращающейся
        туманности отделилось кольцо, слои туманности, из которых потом
        сконденсировалось Солнце, имели (на единицу массы) примерно такой же
        момент, как вещество отделившегося кольца (так как угловые скорости
        кольца и оставшихся частей были примерно одинаковы), так как масса
        последнего была значительно меньше основной туманности
        (“протосолнца”), то полный момент количества движения кольца должен
        быть много меньше, чем у “протосолнца”. В гипотезе Лапласа отсутствует
        какой-либо механизм передачи момента от “протосолнца” к кольцу.
        Поэтому в течение всей дальнейшей эволюции момент количества движения
        “протосолнца”, а затем и Солнца должен быть много больше, чем у колец
        и образовавшихся из них планет. Но этот вывод противоречит с
        фактическим распределением количества движения между Солнцем и
        планетами. Для гипотезы Лапласа эта трудность оказалась непреодолимой.
      </p>
</div>
{%endblock%}
