{%extends "base.html"%} {%block content%}
<div class="container">
  <!-- <div class="carousel slide" id="demo" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="0"
        class="active"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="1"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="2"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="3"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="4"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/static/images/1.png"
          alt="Los Angeles"
          class="rounded d-block w-100"
        />
      </div>
      <div class="carousel-item">
        <img src="/static/images/2.png" alt="" class="rounded d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="/static/images/3.png" alt="" class="rounded d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="/static/images/4.png" alt="" class="rounded d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="/static/images/5.png" alt="" class="rounded d-block w-100" />
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div> -->

  <h2>Астрономия</h2>
  <br />
  <p>
    Человека всегда интересовал вопрос о том, как устроен окружающий мир и какое
    место он в нем занимает. У большинства народов еще на заре цивилизации были
    сложены особые — космологические мифы, повествующие о том, как из
    первоначального хаоса постепенно возникает космос (порядок), появляется все,
    что окружает человека: небо и земля, горы, моря и реки, растения и животные,
    а также сам человек.
  </p>
  <div class="image-container">
    <img
      src="/static/images/earth.png"
      alt=""
      class="left-image"
      style="max-width: 748px; max-height: 468px"
    />
    <img
      src="/static/images/moon.png"
      alt=""
      class="right-image"
      style="max-width: 748px; max-height: 468px"
    />
  </div>
  <p>
    На протяжении тысячелетий шло постепенное накопление сведений о явлениях,
    которые происходили на небе.Оказалось, что периодическим изменениям в земной
    природе сопутствуют изменения вида звездного неба и видимого движения
    Солнца. Высчитать наступление определенного времени года было необходимо для
    того, чтобы в срок провести те или иные сельскохозяйственные работы: посев,
    полив, уборку урожая. Но это можно было сделать лишь при использовании
    календаря, составленного по многолетним наблюдениям положения и движения
    Солнца и Луны. Так необходимость регулярных наблюдений за небесными
    светилами была обусловлена практическими потребностями счета времени.
    Строгая периодичность, свойственная движению небесных светил, лежит в основе
    основных единиц счета времени, которые используются до сих пор, — сутки,
    месяц, год.
  </p>
  <p>
    Простое созерцание происходящих явлений и их наивное толкование постепенно
    сменялись попытками научного объяснения причин наблюдаемых явлений. Когда в
    Древней Греции (VI в. до н. э.) началось бурное развитие философии как науки
    о природе, астрономические знания стали неотъемлемой частью человеческой
    культуры. Астрономия — единственная наука, которая получила свою
    музу-покровительницу — Уранию.
  </p>
  <p>
    С самых древних времен развитие астрономии и математики было тесно связано
    между собой. Вы знаете, что в переводе с греческого название одного из
    разделов математики — геометрии — означает «землемерие». Первые измерения
    радиуса земного шара были проведены еще в III в. до н. э. на основе
    астрономических наблюдений за высотой Солнца в полдень. Необычное, но
    ставшее привычным деление окружности на 360° имеет астрономическое
    происхождение: оно возникло тогда, когда считалось, что продолжительность
    года равна 360 суткам, а Солнце в своем движении вокруг Земли каждые сутки
    делает один шаг — градус.
  </p>
  <p>
    Астрономические наблюдения издавна позволяли людям ориентироваться в
    незнакомой местности и на море. Развитие астрономических методов определения
    координат в XV—XVII вв. в немалой степени было обусловлено развитием
    мореплавания и поисками новых торговых путей. Составление географических
    карт, уточнение формы и размеров Земли на долгое время стало одной из
    главных задач, которые решала практическая астрономия. Искусство
    прокладывать путь по наблюдениям за небесными светилами, получившее название
    навигация, используется теперь не только в мореходном деле и авиации, но и в
    космонавтике.
  </p>
  <p>
    Астрономические наблюдения за движением небесных тел и необходимость заранее
    вычислять их расположение сыграли важную роль в развитии не только
    математики, но и очень важного для практической деятельности человека
    раздела физики - механики. Выросшие из единой когда-то науке о природе -
    философии - астрономия, математика и физика никогда не теряли тесной связи
    между собой. Взаимосвязь этих наук нашла непосредственное отражение в
    деятельности многих ученых. Далеко не случайно, например, что Галилео
    Галилей и Исаак Ньютон известны своими работами и по физике, и по
    астрономии. К тому же Ньютон является одним из создателей дифференциального
    и интегрального исчислений. Сформулированный им же в конце XVII в. закон
    всемирного тяготения открыл возможность применения этих математических
    методов для изучения движения планет и других тел Солнечной системы.
    Постоянное совершенствование способов расчета на протяжении XVIII в. вывело
    эту часть астрономии — небесную механику — на первый план среди других наук
    той эпохи.
  </p>
  <p>
    Вопрос о положении Земли во Вселенной, о том, неподвижна она или движется
    вокруг Солнца, в XVI—XVII вв. приобрел важное значение как для астрономии,
    так и для миропонимания. Гелиоцентрическое учение Николая Коперника явилось
    не только важным шагом в решении этой научной проблемы, но и способствовало
    изменению стиля научного мышления, открыв новый путь к пониманию
    происходящих явлений.
  </p>
  <p>
    Много раз в истории развития науки отдельные мыслители пытались ограничить
    возможности познания Вселенной. Пожалуй, последняя такая попытка случилась
    незадолго до открытия спектрального анализа. «Приговор» был суров: «Мы
    представляем себе возможность определения их (небесных тел) форм,
    расстояний, размеров и движений, но никогда, никакими способами мы не сможем
    изучить их химический состав...» (О. Конт).
  </p>
  <p>
    Открытие спектрального анализа и его применение в астрономии положило начало
    широкому использованию физики при изучении природы небесных тел и привело к
    появлению нового раздела науки о Вселенной— астрофизики. В свою очередь,
    необычность с «земной» точки зрения условий, существующих на Солнце, звездах
    и в космическом пространстве, способствопана развитию физических теорий,
    описывающих состояние вещее ша в таких условиях, которые трудно создать на
    Земле.
  </p>
  <p>
    Болee того, в XX в., особенно во второй его половине, достижения астрономии
    снова, как и во времена Коперника, нрпиени к серьезным изменениям в научной
    картине мира, к становление представлений об эволюции Вселенной.
    Оказывалось,что Вселенная, в которой мы сегодня живем, несколько миллиардов
    лет тому назад была совершенно иной — в ней не существовало ни галактик, ни
    звезд, ни планет. Для того чтобы объяснить процессы, происходившие на
    начальной стадии ее развития, понадобился весь арсенал современной
    теоретической физики, включая теорию относительности, атомную физику,
    квантовую физику и физику элементарных частиц.
  </p>
  <p>
    Развитие ракетной техники позволило человечеству выйти в космическое
    пространство. С одной стороны, это существенно расширило возможности
    исследования всех объектов, находящихся за пределами Земли, и привело к
    новому подъему в развитии небесной механики, которая успешно осуществляет
    расчеты орбит автоматических и пилотируемых космических аппаратов различного
    назначения. С другой стороны, методы дистанционного исследования, пришедшие
    из астрофизики, ныне широко применяются при изучении нашей планеты с
    искусственных спутников и орбитальных станций. Результаты исследований тел
    Солнечной системы позволяют лучше понять глобальные, в том числе
    эволюционные процессы, происходящие на Земле. Вступив в космическую эру
    своего существования и готовясь к полетам на другие планеты, человечество не
    вправе забывать о Земле и должно в полной мере осознать необходимость
    сохранения ее уникальной природы.
  </p>
</div>
{%endblock%}
