{%extends "base.html"%}
{%block content%}
<style>
  a {
    text-decoration: none;
    color: rgb(199, 185, 185);
  }

  p {
    color: white;
  }
</style>
<h2>Современная гипотеза</h2>
<div class="container">
    <p>
        Исследователи Университета Клемсона изложили теорию происхождения
        Солнечной системы из отнесенного космическим ветром вещества,
        сброшенного звездой-гигантом. Гипотеза, описанная иследователями из
        Университета Клемсона, предполагает, что материя, из которой
        сформировались Солнце и окружающие его небесные тела, была выброшена
        звездой
        <b><a target="_blank" href="https://ru.wikipedia.org/wiki/Звезда_Вольфа_—_Райе">Вольфа-Райе</a></b>. <br />
      </p>

      <div class="examp">
        <img src="/static/images/mod.webp" alt="" style="min-width: 96%; max-height: 40vh;"/>
      </div>
      <br />
      <p>
        По расчетам авторов теории, диаметр звезды, породившей Солнечную
        систему, превышал диаметр Солнца в 40–50 раз. Ядерный синтез в ее
        недрах породил все тяжелые элементы, которые встречаются в Солнечной
        системе. По мере выгорания термоядерного топлива звезда сбрасывала
        верхние слои; их вещество растекалось равномено во все стороны от
        звезды и в результате сформировало вокруг нее полую сферу —
        <a target="_blank" href="https://ru.wikipedia.org/wiki/Эмиссионная_туманность">эмиссионную туманность</a>
        Вольфа — Райе. Поверхность таких сфер часто становится регионом
        активного звездообразования из-за высокой плотности вещества.
        <br /><br />
        Учёные-исследователи рассчитали, что от 1% до 16% всех солнцеподобных
        звёзд формируется на поверхности идентичных сферических образований.
        <br />
        <br />
        Этот сценарий, в отличие от гипотезы о происхождении Солнечной системы
        из газа и пыли, выброшенных взрывом сверхновой, объясняет диспропорцию
        элементного состава вещества в молодой Солнечной системе и остальной
        Галактике. Метеориты, сформировавшиеся в первые несколько тысяч
        миллионов лет существования Солнечной системы, содержат необычно много
        изотопа алюминия-26 и необычно мало изотопа железа-60. Взрывы
        сверхновых дают оба эти изотопа, а в сброшенных оболочках умирающих
        звезд Вольфа — Райе содержится много алюминия-26 и почти нет
        железа-60.
      </p>
</div>
{%endblock%}
