{%extends "sign_in_up_pattern.html"%} {%block content%}
<div class="container">
  <h2>New password</h2>
  <form action="">
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-group">
        <input type="password" class="form-control" id="password" name="password" oninput="validatePassword(this.value)"
          required />
      </div>
    </div>
    <div class="form-group">
      <ul>
        <li id="minLength">
          <i class="fas fa-times text-danger"></i> Minimum 8 characters
        </li>
        <li id="uppercase">
          <i class="fas fa-times text-danger"></i> At least one uppercase letter
        </li>
        <li id="lowercase">
          <i class="fas fa-times text-danger"></i> At least one lowercase letter
        </li>
        <li id="symbol">
          <i class="fas fa-times text-danger"></i>
          At least one symbol (_@$!%*?&)
        </li>
      </ul>
    </div>
    <p>{{form.repeat_password.label}}</p>
    <p>{{form.repeat_password(class="form-control")}}</p>
    <p>{{message}}</p>
    <p>{{form.submit(type="submit", class="btn btn-md btn-primary")}}</p>
  </form>
</div>
{%endblock%}
