{%extends "base.html"%} {%block content%}
<div class="container">
  <h2>Edit Account</h2>
  <img class="rounded-circle" src="{{current_user.profile_image}}" alt="" style="width: 50%; height: 50%" />
  <br><br>
  <form action="" method="post" novalidate>
    <p><label for="username">Username</label></p>
    <p><input class="form-control" id="username" name="username" required type="text" value={{current_user.username}}
        disabled>
    </p>

    <p><label for="date">Account creation date</label></p>
    <p><input class="form-control" id="date" name="date" type="datetime" value={{current_user.created_date}} disabled>
    </p>

    <p><label for="age">Age</label></p>
    <p><input class="form-control" id="age" name="age" type="number" value={{current_user.age}} required></p>
    <p><label for="gender">Gender</label></p>
    <p><select id="userSelect" class="form-control" id="gender" name="gender" required>
      {%if current_user.gender == "Male"%}
          <option value="Male" selected>Male</option>
          <option value="Female">Female</option>
      {%else%}
          <option value="Male">Male</option>
          <option value="Female" selected>Female</option>
      {%endif%}
      </select></p>

    <p><label for="email">Email</label></p>
    <p><input class="form-control" id="email" name="email" required type="email" value={{current_user.email}}></p>

    <p>{{message}}</p>
    <button class="btn btn-primary">Submit</button>
    <br> <br>
  </form>
</div>
{%endblock%}
