{%extends "sign_in_up_pattern.html"%} {%block content%}
<link rel="stylesheet" href="/static/css/sign_up.css" />
<h2>Sign up</h2>
<form action="" method="post">
  {{ form.hidden_tag() }} {%for field in form if field.name != 'csrf_token' and
  field.name != 'submit' and field.name != 'repeat_password'%}
  <p>{{field.label}}</p>
  <p>{{field(class='form-control')}}</p>
  {%endfor%}
  <div class="form-group">
    <label for="password">Password</label>
    <div class="input-group">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        oninput="validatePassword(this.value)"
        required
      />
    </div>
  </div>
  <div class="form-group">
    <ul>
      <li id="minLength">
        <i class="fas fa-times text-danger"></i> Minimum 8 characters
      </li>
      <li id="uppercase">
        <i class="fas fa-times text-danger"></i> At least one uppercase letter
      </li>
      <li id="lowercase">
        <i class="fas fa-times text-danger"></i> At least one lowercase letter
      </li>
      <li id="symbol">
        <i class="fas fa-times text-danger"></i>
        At least one symbol (_@$!%*?&)
      </li>
    </ul>
  </div>
  <p>{{form.repeat_password.label}}</p>
  <p>{{form.repeat_password(class="form-control")}}</p>
  <p>{{message}}</p>
  <a href="/astronomy-site/sign_in" style="text-decoration: none; color: grey"
    >Sign in</a
  ><br /><br>
  <p>{{form.submit(type="submit", class="btn btn-md btn-primary")}}</p>
</form>
{%endblock%}
